<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Venta de flores naturales</h2>
      <p class="lead">Encuentra regalos para toda ocasion</p>
    </div>
    <div class="bg-body-tertiary shadow-sm mx-auto"
         style="width: 80%; height: 300px; border-radius: 21px 21px 0 0">
        <img src="/source/img/empresas/Bio_naturista.png" alt="logo bio naturista" style="width: 100px;" />
      </div>
  </div>
  <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Venta de productos naturales</h2>
      <p class="lead">Encuentra los mejores productos naturales registrados en senasa</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto"
         style="width: 80%; height: 300px; border-radius: 21px 21px 0 0">
        <img  src="/source/img/empresas/santa_natura.png" alt="santa natura" style="width: 200px;"/></div>
  </div>
</div>
