<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="/source/img/logo_empresa.png" alt="Logo empres" style="width: 50px;" > 
      <small class="d-block mb-3 text-body-secondary">&copy; 2007–2025</small>
    </div>
    <div class="col-4 col-md">
      <h5>Nosotros</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Encuentranos en paita la parte baja como negocio recuerdo de mi madre</a></li>

      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>Redes Sociales</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">visita</a></li>

      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>Ubicacion</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" target="_blank" href="https://maps.app.goo.gl/jqTPZxG4ykDH8kkd8">Como llegar</a></li>
      </ul>
    </div>
  </div>
</footer>
