<link href="/css/herosection.css" rel="stylesheet" />
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
<div class="Fondo d-flex align-items-center text-white">
      <div class="container">
        <div class="d-flex flex-column text-start">
          <h1 class="display-4 fw-bold rojo-logo">Recuerdo de mi Madre</h1>
          <p class="mb-3 verde-logo">En Recuerdo de mi Madre creemos en la fuerza de lo natural y en la belleza de las flores</p>
          <p class="mb-3 verde-logo">como un símbolo eterno de vida, amor y bienestar.</p>
          <p class="lead col-12 col-md-8 col-lg-6 verde-logo">
            Con más de 20 años de experiencia en la venta de flores, en Recuerdo de mi Madre nos especializamos en crear arreglos florales que transmiten emociones y acompañan cada momento especial de tu vida.
            Desde hace 5 años, ampliamos nuestra pasión por lo natural con la venta de medicina natural y plantas medicinales, brindando a nuestros clientes productos de calidad que promueven el bienestar y la salud de manera tradicional y confiable.
          
          </p>
        </div>
      </div>
    </div>
</div>

<!----------------------------------------------------------------------- div de cartas -->
<div class="container col-12">
      <div class="row">
       <div class="container py-5">
  <div class="row text-center mb-4" data-aos="fade-up">
    <div class="col-12">
      <h2 class="fw-bold">PRODUCTOS DESTACADOS</h2>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up">
      <div class="card h-100 border-success shadow-lg hover-shadow">
        <img
          src="/source/img/detalles/tulipanes.jpg"
          class="card-img-top img-fluid"
          alt="GeForce Nvidia"
        />
        <div class="card-body">
          <h5 class="card-title">Tulipanes Fucsia y Flores</h5>
          <p class="card-text">
           Sombrerera Crema Mediana con 10 Tulipanes Fucsia y Flores
          </p>
        </div>
        <div class="card-footer bg-transparent border-0">
          <a
            class="btn btn-outline-success w-100"
            href="#"
            target="_blank"
            >S/150.00</a
          >
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up">
      <div class="card h-100 border-success shadow-lg hover-shadow">
        <img
          src="/source/img/detalles/girasoles.jpg"
          class="card-img-top img-fluid"
          alt="Robotica Nvidia"
        />
        <div class="card-body">
          <h5 class="card-title">Adorno Girasoles</h5>
          <p class="card-text">
           Arreglo Girasoles y Hortensia con detalles y chocolatew
          </p>
        </div>
        <div class="card-footer bg-transparent border-0">
          <a
            class="btn btn-outline-success w-100"
            href="#"
            target="_blank"
            >S/80.00</a
          >
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up">
      <div class="card h-100 border-success shadow-lg hover-shadow">
        <img
          src="/source/img/detalles/primavera.webp"
          class="card-img-top img-fluid"
          alt="Arreglo Primavera"
        />
        <div class="card-body">
          <h5 class="card-title">Ramo Primavera Amarillo</h5>
          <p class="card-text">
            Hermoso detalle de flores amarillas por la primavera
          </p>
        </div>
        <div class="card-footer bg-transparent border-0">
          <a
            class="btn btn-outline-success w-100"
            href="#"
            target="_blank"
            >S/50.00</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
